{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "AgriTrack": "Server=YOUR_SQL_SERVER_INSTANCE;Database=agritrack;User Id=sa;Password=YOUR_PASSWORD;TrustServerCertificate=True;Connect Timeout=30"
  }
}
